img {
    width: 200px;
    height: 200px;
}
.container {
    text-align: center;
}
body {
    background-image: url("../images/crystalbackground.jpg");
}
h1 {
    text-align: center;
    color: cornsilk;
    font-family: 'Luckiest Guy', cursive;
    margin-top: 60px;
    font-size: 50px;
}
h3 {
    font-family: 'Luckiest Guy', cursive;
    color: cornsilk;
}
p {
    background-color: cornsilk;
    color: cornflowerblue;
    text-align: center;
    font-family: 'Oswald', sans-serif;
    font-size: 32px;
    width: fit-content;
    border-style: groove;
    border-width: 5px;
}
footer {
    text-shadow: 2px 2px cornsilk;
}
.crystals {
    cursor: pointer;
}
.crystalImage {
    border-style: ridge;
    border-width: 10px;
}
.flex-container {
    display: flex; 
    flex-direction: row; 
    justify-content: space-evenly;
    align-content: center;
}
.tally {
    text-shadow: 2px 2px blue;
}
#p1 {
   width: 50%;
   margin-left: 25%;
   margin-right: 25%; 
}
#p2 {
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;
}